body {
 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
  overflow: hidden;


  min-height: 100vh;
  background: #5e69BA;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    margin: 0;
  }
  
  #kokeiltu {
    text-align: center;
    font-size: 15px;
  }
  #arvattava{
    text-align: center;
    font-size: 30px;
  }
  #sana {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #333;
  }
  
  
  .letter-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .letter-button:hover {
    background-color: #0056b3;
  }
  
  #textbox {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #textbutton {
    background-color: white;
    color: black;
    border: none;
  width: 10%;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    transition: background-color 0.3s ease;
  
  }
  
  #textbutton:hover {
    background-color: rgb(93, 136, 191);
  }
  
  #kuva {
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 200px;
    max-height: 100px;
    
  }
  div#row1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    width: 690px;
    margin: auto;
   
  }
  div#row3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    width: 450px;
    margin: auto;
    
  }
  div#row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
   
    margin: auto;
    width: 690px;
   /* box-shadow: 10px 5px 5px black; 
 /*   width: 55%;*/
  }
  .pressed {
    background-color: red;
}
#square{
  background-color: white;
  width: 960px;
  margin: 0 auto;
  border-radius: 50px;
}
.letter-button{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}