body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    margin: 0;
  }
  
  #kokeiltu {
    text-align: center;
  }
  
  #sana {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #333;
  }
  
  
  .letter-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .letter-button:hover {
    background-color: #0056b3;
  }
  
  #textbox {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #textbutton {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #textbutton:hover {
    background-color: #218838;
  }
  
  #kuva {
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 100%;
  }
  div#row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: red;  
    
    margin: auto;
  width: 55%;
  }
  div#row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: red;  
    
    margin: auto;
  width: 55%;
  }
  div#row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: red;  
    
    margin: auto;
  width: 55%;
  }
