body{
    background-color: white;
    
}
h1{
    text-align: center;
    color: black;
}
input#button{
   
    height: auto;
    bottom: 700px;
    left:60%;
    position: relative;
   
    

}
#confirm{
    height: auto;
    bottom: 700px;
    left: 60%;
    position: relative;
   
    
}